* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #cec9c9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Sørger for, at flex-containeren er mindst hele vinduets højde */
}
